<div id="message">
    <div class="uk-container">
        <vk-grid class="uk-grid-small"> 
            <!-- left column -->
            <div class="uk-width-1-4@m">
                <h1>Form</h1>
            </div>
            
            <!-- center column --><div class="vertical-divider"></div>
            <div class="uk-width-expand@m">
                <div class="scrollbox">
                    <ol class="chat">
                        <li class="other">
                            <div class="avatar"><img src="other.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Hola!</p>
                                <p>Te vienes a cenar al centro?</p>
                                <time>20:17</time>
                            </div>
                        </li>
                        <li class="self">
                            <div class="avatar"><img src="self.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Puff...</p>
                                <p>Aún estoy haciendo el contexto de Góngora... </p>
                                <p>Mejor otro día</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                                <div class="avatar"><img src="other.jpg" draggable="false"/></div>
                                <div class="msg">
                                    <p>Hola!</p>
                                    <p>Te vienes a cenar al centro?</p>
                                    <time>20:17</time>
                                </div>
                            </li>
                        <li class="self">
                            <div class="avatar"><img src="self.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Puff...</p>
                                <p>Aún estoy haciendo el contexto de Góngora... </p>
                                <p>Mejor otro día</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                                <div class="avatar"><img src="other.jpg" draggable="false"/></div>
                                <div class="msg">
                                    <p>Hola!</p>
                                    <p>Te vienes a cenar al centro?</p>
                                    <time>20:17</time>
                                </div>
                            </li>
                        <li class="self">
                            <div class="avatar"><img src="self.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Puff...</p>
                                <p>Aún estoy haciendo el contexto de Góngora... </p>
                                <p>Mejor otro día</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                                <div class="avatar"><img src="other.jpg" draggable="false"/></div>
                                <div class="msg">
                                    <p>Hola!</p>
                                    <p>Te vienes a cenar al centro?</p>
                                    <time>20:17</time>
                                </div>
                            </li>
                        <li class="self">
                            <div class="avatar"><img src="self.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Puff...</p>
                                <p>Aún estoy haciendo el contexto de Góngora... </p>
                                <p>Mejor otro día</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        </ol>
                    </div>
        <textarea class="uk-textarea center-block chatbox" rows="2" type="text" placeholder="Type here!"></textarea>  
    </div>
    <div class="vertical-divider"></div>
        <!-- right column -->       
        <div class="uk-width-1-4@m">
                <div class="js-upload uk-placeholder uk-text-center upload">
                        <span><vk-icon icon="cloud-upload"></vk-icon></span>
                        <span class="uk-text-middle">Upload file(s) here</span>
                        <div uk-form-custom>
                            <input type="file" multiple>
                            <!-- <span class="uk-link">selecting one</span> -->
                        </div>
                </div>
                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>  
                <!-- Uploaded file(s) position -->
                <div class="scrollbox">
                    <vk-grid gutter="small" class="uk-child-width-expand@s uk-text-center">
                        <div>
                            <vk-card>Item</vk-card>
                        </div>
                        <div>
                            <vk-card>Item</vk-card>
                        </div>
                        <div>
                          <vk-card>Item</vk-card>
                        </div>
                    </vk-grid>
                </div>
        </div>
        
        </vk-grid>
    </div>
</div>