<div id="message">
    <div class="uk-container">
        <vk-grid class="uk-grid-small"> 
            <!-- left column -->
            <div class="uk-width-1-4@m crop">
                    <br/>
                    <div>
                            <p class="uk-label uk-label-warning sticky">Consult ID 601235554</p>
                    </div>
                            
                            <div id="personalinfo">
                                    <div class="uk-text-left">
                                        <h2 class="uk-heading-line"><span>Patient's Information</span></h2>
                                    </div>
                                <div class="uk-form-horizontal">
                                        <div class="uk-margin">
                                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Patient's name</label>
                                            <div class="uk-form-controls">
                                                <p>Sammy Read</p>
                                            </div>
                                        </div>
                                        <div class="uk-margin">
                                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of Birth</label>
                                                <div class="uk-form-controls">
                                                    <p>13/12/1995</p>
                                                </div>
                                        </div>
                                        <div class="uk-margin">
                                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Gender</label>               
                                            <div class="uk-form-controls">
                                                    <p>Male</p>
                                            </div>
                                        </div>
                                        <div class="uk-margin">
                                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Address</label>
                                            <div class="uk-form-controls">
                                                <p>
                                                    123/6 moo3 Banndu Mueang Lampang 57100
                                                </p>
                                            </div>
                                        </div>
                                        <div class="uk-margin">
                                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Primary Doctor</label>
                                                <div class="uk-form-controls">
                                                    <p>Mr. John Ruper</p>
                                                </div>
                                        </div>
                                </div>
                            </div>
                    
                                <!-- Consult Request -->
                                <br/>
                                <div id="consultinfo">
                                    <div class="uk-text-left">
                                        <h2 class="uk-heading-line"><span>Consult Request</span></h2>
                                    </div>
                                    <div class="uk-form-horizontal">
                                        <div class="uk-margin">
                                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Chief Complain</label>
                                                <div class="uk-form-controls">
                                                    <p>FBS >= 130 mg% 2 visit</p>
                                                </div>
                                        </div>
                                        <div class="uk-margin">
                                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Assessment and plan</label>
                                                <div class="uk-form-controls">
                                                    <p>MFM 1x2 0pc, Slmvas 1209 ½ x ns</p>
                                                </div>
                                        </div>
                                        <div class="uk-margin">
                                            <!-- Not Require -->
                                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Progress notes</label>
                                            <div class="uk-form-controls">
                                                <p>-</p>
                                            </div>
                                    </div>
                                </div>
                                </div>
            </div>
            
            <!-- center column --><div class="vertical-divider"></div>
            <div class="uk-width-expand@m">
                <div class="scrollbox">
                    <ol class="chat">
                        <li class="other">
                            <div class="avatar"><img src="other.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Hola!</p>
                                <p>Te vienes a cenar al centro?</p>
                                <time>20:17</time>
                            </div>
                        </li>
                        <li class="self">
                            <div class="avatar"><img src="self.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Puff...</p>
                                <p>Aún estoy haciendo el contexto de Góngora... </p>
                                <p>Mejor otro día</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                                <div class="avatar"><img src="other.jpg" draggable="false"/></div>
                                <div class="msg">
                                    <p>Hola!</p>
                                    <p>Te vienes a cenar al centro?</p>
                                    <time>20:17</time>
                                </div>
                            </li>
                        <li class="self">
                            <div class="avatar"><img src="self.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Puff...</p>
                                <p>Aún estoy haciendo el contexto de Góngora... </p>
                                <p>Mejor otro día</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                                <div class="avatar"><img src="other.jpg" draggable="false"/></div>
                                <div class="msg">
                                    <p>Hola!</p>
                                    <p>Te vienes a cenar al centro?</p>
                                    <time>20:17</time>
                                </div>
                            </li>
                        <li class="self">
                            <div class="avatar"><img src="self.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Puff...</p>
                                <p>Aún estoy haciendo el contexto de Góngora... </p>
                                <p>Mejor otro día</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                                <div class="avatar"><img src="other.jpg" draggable="false"/></div>
                                <div class="msg">
                                    <p>Hola!</p>
                                    <p>Te vienes a cenar al centro?</p>
                                    <time>20:17</time>
                                </div>
                            </li>
                        <li class="self">
                            <div class="avatar"><img src="self.jpg" draggable="false"/></div>
                            <div class="msg">
                                <p>Puff...</p>
                                <p>Aún estoy haciendo el contexto de Góngora... </p>
                                <p>Mejor otro día</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        </ol>
                    </div>
        <textarea class="uk-textarea center-block chatbox" rows="2" type="text" placeholder="Type here!"></textarea>  
    </div>
    <div class="vertical-divider"></div>
        <!-- right column -->       
        <div class="uk-width-1-4@m">
                <div class="js-upload uk-placeholder uk-text-center upload">
                        <span><vk-icon icon="cloud-upload"></vk-icon></span>
                        <span class="uk-text-middle">Upload file(s) here</span>
                        <div uk-form-custom>
                            <input type="file" multiple>
                            <!-- <span class="uk-link">selecting one</span> -->
                        </div>
                </div>
                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>  
                <!-- Uploaded file(s) position -->
                <div class="scrollbox">
                    <vk-grid gutter="small" class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center">
                        <div>
                            <vk-card>Item</vk-card>
                        </div>
                        <div>
                            <vk-card>Item</vk-card>
                        </div>
                        <div>
                          <vk-card>Item</vk-card>
                        </div>
                    </vk-grid>
                </div>
        </div>
        
        </vk-grid>
    </div>
</div>