<div id="consult-add">
    <div class="uk-container">
        <vk-grid class="uk-grid-small">
            <div class="uk-width-1-5@m">
                <br/>
                <h1 class="uk-heading-primary sticky">Edit Draft Consult</h1>
            </div>

            <div class="uk-width-expand@m">
                <form class="uk-margin-large">
                    <br/>
                    <div id="personalinfo">
                        <div class="uk-text-left">
                            <h2 class="uk-heading-line"><span>Patient's Information</span></h2>
                        </div>
                        <div class="uk-form-horizontal">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Patient's
                                    name</label>
                                <div class="uk-form-controls">
                                    <input v-model="currentConsult.patient_firstname"
                                           class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text"
                                           placeholder="First name">
                                    <input v-model="currentConsult.patient_lastname"
                                           class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text"
                                           placeholder="Last name">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of
                                    Birth</label>
                                <div class="uk-form-controls">
                                    <input v-model="currentConsult.patient_dob" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="date" placeholder="">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Gender</label>
                                <div class="uk-form-controls">
                                    <label><input v-model="currentConsult.patient_gender" value="Male" class="uk-radio"
                                                  type="radio" name="Male" checked> Male</label>
                                    <label><input v-model="currentConsult.patient_gender" value="Female"
                                                  class="uk-radio" type="radio" name="Female"> Female</label>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase"
                                       for="form-horizontal-text">Address</label>
                                <div class="uk-form-controls">
                                    <textarea v-model="currentConsult.patient_address"
                                              class="uk-textarea uk-form-width-large" id="form-horizontal-text" rows="5"
                                              placeholder="Address"></textarea>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Primary
                                    Doctor</label>
                                <div class="uk-form-controls">
                                    <input v-model="currentConsult.primary_doctor" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="text" placeholder="First name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Medical Information -->
                    <br/>
                    <div id="medicalinfo">
                        <div class="uk-text-left">
                            <h2 class="uk-heading-line"><span>Physical examination</span></h2>
                        </div>
                        <div class="uk-form-horizontal">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Health
                                    Condition</label>
                                <div class="uk-form-controls">
                                    <input v-model="currentConsult.health_condition"
                                           class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text"
                                           placeholder="">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <!-- patient’s diagnosis here -->
                                <label class="uk-form-label" for="form-horizontal-text">Dx</label>
                                <div class="uk-form-width-medium">
                                    <input v-model="currentConsult.med_dx" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="text" list="disease">
                                    <datalist id="disease">
                                        <option value="Alzheimer’s disease"></option> <!-- ฮัลไซเมอร์ -->
                                        <option value="Amyotrophic lateral sclerosis (ALS)"></option>
                                        <!-- กล้ามเนื้ออ่อนแรง -->
                                        <option value="Arthritis"></option> <!--โรคข้ออักเสบ-->
                                        <option value="Attention deficit hyperactivity disorder (ADHD)"></option>
                                        <!--โรคสมาธิสั้น-->
                                        <option value="Autism spectrum disorder (ASD)"></option> <!--โรคออทิสติก-->
                                        <option value="Bell’s palsy"></option> <!--โรคใบหน้าเบี้ยว-->
                                        <option value="Bipolar disorder"></option> <!-- โรคใบโพล่าร์ -->
                                        <option value="Birth defects"></option> <!--โรคพิการตั้งแต่กำเนิด-->
                                        <option value="Cerebral palsy"></option> <!--โรคสมองพิการ-->
                                        <object value="Chronic kidney disease"></object> <!--โรคไตเรื้อรัง-->
                                        <option value="Chronic pain"></option> <!--โรคปวดเรื้อรัง-->
                                        <option value="Chronic pancreatitis"></option> <!--โรคตับอ่อนอัพเสบเรื้อรัง-->
                                        <option value="Chronic traumatic encephalopathy (CTE)"></option>
                                        <!--โรคโรคบาดเจ็บของสมอง CTE-->
                                        <option value="Clotting/bleeding disorders"></option>
                                        <!--โรคการแข็งตัวของเลือดผิดปกติ-->
                                        <option value="Conductive Hearing Loss"></option>
                                        <!--การสูญเสียการได้ยินชนิดการนำเสียงบกพร่อง-->
                                        <option value="Coronary artery disease"></option>
                                        <!-- โรคหลอดเลือดหัวใจตีบตัน  -->
                                        <option value="Crohn’s disease"></option> <!--โรคโครห์น-->
                                        <option value="Depression"></option> <!--ภาวะซึมเศร้า-->
                                        <option value="Diabetes mellitus"></option> <!-- โรคเบาหวาน  -->
                                        <option value="Down syndrome"></option> <!--ดาวน์ซินโดรม-->
                                        <option value="Eczema"></option> <!--โรคผิวหนังอักเสบ-->
                                        <option value="Epilepsy"></option> <!--โรคลมชัก-->
                                        <option value="Fetal alcohol syndrome (FAS)"></option>
                                        <!--กลุ่มอาการทารกในครรภ์ได้รับแอลกอฮอล์-->
                                        <option value="Fibromyalgia"></option> <!--โรคไฟโบรมัยอัลเจีย-->
                                        <option value="Hemochromatosis (HHC)"></option> <!--ภาวะเหล็กเกิน-->
                                        <option value="Hemophilia"></option> <!--โรคเลือดไหลไม่หยุด-->
                                        <option value="High blood pressure"></option> <!-- โรคความดันโลหิตสูง -->
                                        <option value="Inflammatory bowel disease (IBD)"></option>
                                        <!--โรคลำไส้อักเสบเรื้อรัง/โรคไอบีดี -->
                                        <option value="Insomnia"></option> <!--โรคนอนไม่หลับ-->
                                        <option value="Liver disease"></option> <!--โรคตับ-->
                                        <option value="Lung Cancer"></option> <!-- โรคมะเร็งปอด  -->
                                        <option value="Obesity"></option> <!-- โรคอ้วนลงพุง -->
                                        <option value="Psoriasis"></option> <!--โรคสะเก็ดเงิน-->
                                        <option value="Pulmonary Emphysema"></option> <!-- ถุงลมโป่งพอง -->
                                        <option value="Sickle cell anemia"></option> <!--โรคเม็ดเลือดแดงรูปเคียว-->
                                        <option value="Sleep disorders"></option> <!--โรคนอนไม่หลับ-->
                                        <option value="Systemic lupus erythematosus (SLE)"></option>
                                        <!--โรคแพ้ภูมิตัวเอง-->
                                        <option value="Stroke"></option> <!-- โรคหลอดเลือดสมอง -->
                                        <option value="Temporomandibular joint (TMJ) disorder"></option>
                                        <!--โรคข้อต่อขากรรไกรผิดปกติ-->
                                        <option value="Thalassemia"></option> <!--ธาลัสซีเมีย-->
                                        <option value="Vision impairment"></option> <!--ภาวะความบกพร่องทางการมองเห็น-->
                                    </datalist>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">BW</label>
                                <div class="uk-form-controls">
                                    <input v-model="currentConsult.med_bw" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="number" placeholder="kg" min="0">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">BMI</label>
                                <div class="uk-form-controls unit">
                                    <input v-model="currentConsult.med_bmi" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="number" placeholder="" min="0">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">T</label>
                                <div class="uk-form-controls unit">
                                    <input v-model="currentConsult.med_t" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="number" placeholder="°C" min="0">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">FBS</label>
                                <div class="uk-form-controls unit">
                                    <input v-model="currentConsult.med_fbs" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="number" placeholder="mg%" min="0">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Cr</label>
                                <div class="uk-form-controls unit">
                                    <input v-model="currentConsult.med_cr" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="number" placeholder="Cr" min="0">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Clearance</label>
                                <div class="uk-form-controls">
                                    <input v-model="currentConsult.med_clearance" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="number" placeholder="" min="0">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Stage</label>
                                <div class="uk-form-controls">
                                    <input v-model="currentConsult.med_stage" class="uk-input uk-form-width-medium"
                                           id="form-horizontal-text" type="number" placeholder="" min="0">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <!-- Record -->
                        <div id="recordinfo">
                            <div class="uk-text-left">
                                <h2 class="uk-heading-line"><span>Record</span></h2>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-lead" for="form-horizontal-text">Hx : OLD RECORD
                                    1</label>
                            </div>
                            <div class="uk-form-horizontal unit">
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of
                                        Diagnosis</label>
                                    <div class="uk-form-controls ">
                                        <input v-model="currentConsult.rec01_date" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="date" placeholder="">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">FBS</label>
                                    <div class="uk-form-controls ">
                                        <input v-model="currentConsult.rec01_fbs" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="number" placeholder="mg%" min="0">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP1</label>
                                    <div class="uk-form-controls">
                                        <input v-model="currentConsult.rec01_bp1" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="number" placeholder="mmHg" min="0">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP2</label>
                                    <div class="uk-form-controls">
                                        <input v-model="currentConsult.rec01_bp2" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="number" placeholder="mmHg" min="0">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">P</label>
                                    <div class="uk-form-controls">
                                        <input v-model="currentConsult.rec01_p" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="number" placeholder="/min" min="0">
                                    </div>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-lead" for="form-horizontal-text">Hx : OLD RECORD
                                    2</label>
                            </div>
                            <div class="uk-form-horizontal unit">
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of
                                        Diagnosis</label>
                                    <div class="uk-form-controls ">
                                        <input v-model="currentConsult.rec02_date" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="date" placeholder="">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">FBS</label>
                                    <div class="uk-form-controls ">
                                        <input v-model="currentConsult.rec02_fbs" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="number" placeholder="mg%" min="0">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP1</label>
                                    <div class="uk-form-controls">
                                        <input v-model="currentConsult.rec02_bp1" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="number" placeholder="mmHg" min="0">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP2</label>
                                    <div class="uk-form-controls">
                                        <input v-model="currentConsult.rec02_bp2" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="number" placeholder="mmHg" min="0">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">P</label>
                                    <div class="uk-form-controls">
                                        <input v-model="currentConsult.rec02_p" class="uk-input uk-form-width-medium"
                                               id="form-horizontal-text" type="number" placeholder="/min" min="0">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Consult Request -->
                        <br/>
                        <div id="consultinfo">
                            <div class="uk-text-left">
                                <h2 class="uk-heading-line"><span>Consult Request</span></h2>
                            </div>
                            <div class="uk-form-horizontal">
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Chief
                                        Complain</label>
                                    <div class="uk-form-controls">
                                    <textarea v-model="currentConsult.consult_complain"
                                              class="uk-textarea uk-form-width-large" id="form-horizontal-text" rows="5"
                                              placeholder="Chief Complain"></textarea>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Assessment
                                        and
                                        plan</label>
                                    <div class="uk-form-controls">
                                    <textarea v-model="currentConsult.consult_plan"
                                              class="uk-textarea uk-form-width-large" id="form-horizontal-text" rows="5"
                                              placeholder="Assessment and Plan"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            <div class="uk-width-1-5@m">

            </div>
        </vk-grid>
        <br/><br/>
        <div class="uk-margin-bottom uk-text-center">
            <button v-on:click="saveConsult(currentConsult.consult_id)" type="button"
                    class="uk-button uk-button-secondary uk-width-small">Save
            </button>
            <button v-on:click="sendConsult(currentConsult.consult_id)" type="button"
                    class="uk-button uk-button-primary uk-width-small">Send
            </button>
            <a class="uk-button uk-button-danger uk-width-small" href="../..#/">Cancel</a>
        </div>
        <br/>
    </div>
</div>