<div id="consult-add">
        <div class="uk-container">
            <vk-grid class="uk-grid-small">
            <div class="uk-width-1-5@m">
                <br/>
                <h1 class="uk-heading-primary sticky">Create Consult Form</h1>
            </div>

            <div class="uk-width-expand@m">
            <form class="uk-margin-large">
            <br/>
            <div id="personalinfo">
                    <div class="uk-text-left">
                        <h2 class="uk-heading-line"><span>Patient's Information</span></h2>
                    </div>
                <div class="uk-form-horizontal">
                        <!-- <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Create Date</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="date" placeholder="">
                                </div>
                        </div> -->
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Patient's name</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text" placeholder="First name">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text" placeholder="Last name">
                            </div>
                        </div>
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of Birth</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="date" placeholder="">
                                </div>
                        </div>
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Gender</label>               
                            <div class="uk-form-controls">
                                    <label><input class="uk-radio" type="radio" name="radio2" checked> Male</label>
                                    <label><input class="uk-radio" type="radio" name="radio2"> Female</label>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Address</label>
                            <div class="uk-form-controls">
                                <textarea class="uk-textarea uk-form-width-large" id="form-horizontal-text" rows="5" placeholder="Address"></textarea>
                            </div>
                        </div>
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Primary Doctor</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text" placeholder="First name">
                                    <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="text" placeholder="Last name">
                                </div>
                        </div>
                </div>
            </div>
                <!-- Medical Information -->
                <br/>
                <div id="medicalinfo">
                    <div class="uk-text-left">
                        <h2 class="uk-heading-line"><span>Physical examination</span></h2>
                    </div>
                <div class="uk-form-horizontal">
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Health Condition</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="">
                                </div>
                        </div>
                    <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">HN</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="">
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Dx</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="">
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">BW</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="kg">
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">BMI</label>
                            <div class="uk-form-controls unit">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="">
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">T</label>
                            <div class="uk-form-controls unit">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="°C">
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">FBS</label>
                            <div class="uk-form-controls unit">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="mg%">
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Cr</label>
                            <div class="uk-form-controls unit">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="Cr">
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Clearance</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="">
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Stage</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="">
                            </div>
                    </div>
                </div>
                </div>
                <br/>
                <!-- Record -->
                <div id="recordinfo">
                    <div class="uk-text-left">
                        <h2 class="uk-heading-line"><span>Record</span></h2>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label uk-text-lead" for="form-horizontal-text">Hx : OLD RECORD 1</label>
                    </div>
                    <div class="uk-form-horizontal unit">
                            <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of Diagnosis</label>
                                    <div class="uk-form-controls ">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="date" placeholder="">
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">FBS</label>
                                    <div class="uk-form-controls ">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="mg%">
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP1</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="mmHg">
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP2</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="mmHg">
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">P</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="/min">
                                    </div>
                            </div>
                    </div>

                    <div class="uk-margin">
                            <label class="uk-form-label uk-text-lead" for="form-horizontal-text">Hx : OLD RECORD 2</label>
                    </div>
                    <div class="uk-form-horizontal unit">
                            <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of Diagnosis</label>
                                    <div class="uk-form-controls ">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="date" placeholder="">
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">FBS</label>
                                    <div class="uk-form-controls ">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="mg%">
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP1</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="mmHg">
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP2</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="mmHg">
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">P</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-form-width-medium" id="form-horizontal-text" type="number" placeholder="/min">
                                    </div>
                            </div>
                    </div>
                </div>
    
                <!-- Consult Request -->
                <br/>
                <div id="consultinfo">
                    <div class="uk-text-left">
                        <h2 class="uk-heading-line"><span>Consult Request</span></h2>
                    </div>
                    <div class="uk-form-horizontal">
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Chief Complain</label>
                                <div class="uk-form-controls">
                                    <textarea class="uk-textarea uk-form-width-large" id="form-horizontal-text" rows="5" placeholder="Chief Complain"></textarea>
                                </div>
                        </div>
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Assessment and plan</label>
                                <div class="uk-form-controls">
                                    <textarea class="uk-textarea uk-form-width-large" id="form-horizontal-text" rows="5" placeholder="Assessment and Plan"></textarea>
                                </div>
                        </div>
                        <div class="uk-margin">
                            <!-- Not Require -->
                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Progress notes</label>
                            <div class="uk-form-controls">
                                <textarea class="uk-textarea uk-form-width-large" id="form-horizontal-text" rows="5" placeholder="Progress notes"></textarea>
                            </div>
                    </div>
                </div>
                </div>
            </form>
            </div>
            <div class="uk-width-1-5@m">
                
            </div>
        </vk-grid>
        <br/><br/>
        <div class="uk-margin-bottom uk-text-center">
                <button type="button" class="uk-button uk-button-secondary uk-width-small">Draft</button>
                <button type="button" class="uk-button uk-button-primary uk-width-small">Send</button>
                <a class="uk-button uk-button-danger uk-width-small" href="../..#/">Cancel</a>
        </div>
        <br/>
        </div>
    </div>