<div id=forgetpassword>
    <div align="center">
        <div class="section" style="margin-top:10%;"></div>
        <h1>Forget Password</h1>
        <form autocomplete="off">

            <div class="uk-margin">
                <div class="uk-alert-danger" v-if="error.email">
                    <p v-if="error.email == 'required'">Required</p>
                    <p v-if="error.email == 'not_exist'">This email is not registered.</p>
                    <p v-if="error.email == 'not_email'">The email pattern should be example@mail.com</p>
                </div>
                <div class="uk-inline">
                    <span class="uk-form-icon"><vk-icon icon="mail"></vk-icon></span>
                    <input id="email" class="uk-input form-control" type="email" placeholder="example@mail.com"
                           v-model="email" required>
                </div>
            </div>
            <button class="uk-button uk-button-default uk-button-small uk-button-primary"
                    v-on:click="sendRequest()">Submit
            </button>
            <br/>

        </form>
    </div>
</div>