<div id=resetpassword>
    <div align="center">
        <div class="section" style="margin-top:10%;"></div>
        <h1>Reset Password</h1>
        <form autocomplete="off">

            <div class="uk-margin">
                <div class="uk-alert-danger" v-if="error.password">
                    <p v-if="error.password == 'required'">Required</p>
                    <p v-if="error.password == 'not_confirmed'">Password confirmation does not match</p>
                </div>
                <div class="uk-inline">
                    <span class="uk-form-icon"><vk-icon icon="lock"></vk-icon></span>
                    <input id="password" class="uk-input form-control" type="password" placeholder="New Password" v-model="password" required>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon"><vk-icon icon="lock"></vk-icon></span>
                    <input id="confirmed_password" class="uk-input form-control" type="password" placeholder="Confirm New Password" v-model="password_confirmation" required>
                </div>
            </div>
            <button class="uk-button uk-button-default uk-button-small uk-button-primary" v-on:click="updatePassword()">Submit</button>
            <br/>
        </form>
    </div>
</div>