<div id="edit">

    <div class="uk-container uk-section">

        <div class="uk-width-3-5@m uk-align-center">

            <h1 class="uk-heading-primary">Edit Profile</h1>

            <form autocomplete="off" class="uk-form-horizontal">

                <div v-if="isRole(1)">
                    <h2 class="uk-heading-line"><span>Account</span></h2>

                    <div class="uk-margin ">
                        <label class="uk-form-label"><h4>Role</h4></label>
                        <div class="uk-form-controls">
                            <label><input class="uk-checkbox" value="1" type="checkbox" v-model="edited_user.role"> ADMIN</label>
                            <label><input class="uk-checkbox" value="2" type="checkbox" v-model="edited_user.role"> COUNSELOR</label>
                            <label><input class="uk-checkbox" value="3" type="checkbox" v-model="edited_user.role"> CONSULTEE</label>
                            <div class="uk-alert-danger" v-if="error.role">
                                <p v-if="error.role == 'required'">Required</p>
                                <p v-if="error.role == 'not_role'">Something error</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!--<div class="uk-margin uk-width-3-5@s">-->
                    <!--<label class="uk-form-label"><h4>Role</h4></label>-->
                    <!--<div class="uk-form-controls">-->
                        <!--<select v-model="user.role" class="uk-select" >-->
                            <!--<option value="" disabled selected>Role</option>-->
                            <!--<option v-for="role in form.roles" :value="role.role">{{ role.role }}</option>-->
                        <!--</select>-->
                        <!--<div class="uk-alert-danger" v-if="error.role">-->
                            <!--<p v-if="error.role == 'required'">Required</p>-->
                            <!--<p v-if="error.role == 'alpha'">Something error</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <h2 class="uk-heading-line"><span>Personal Information</span></h2>

                <div class="uk-margin uk-width-3-5@s">
                    <label class="uk-form-label"><h4>Name Title</h4></label>
                    <div class="uk-form-controls">
                        <select v-model="edited_user.name_title" class="uk-select">
                            <option value="" disabled>Name Title</option>
                            <option v-for="title in form.name_titles" :value="title.title" :selected="edited_user.name_title == title.title ? true : false">{{ title.title }}</option>
                        </select>
                        <div class="uk-alert-danger" v-if="error.name_title">
                            <p v-if="error.name_title == 'required'">Required</p>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"><h4>First Name</h4></label>
                    <div class="uk-form-controls">
                        <input v-model="edited_user.first_name" class="uk-input" type="text" placeholder="First Name">
                        <div class="uk-alert-danger" v-if="error.first_name">
                            <p v-if="error.first_name == 'required'">Required</p>
                            <p v-if="error.first_name == 'not_alpha'">Only alphabets</p>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"><h4>Last Name</h4></label>
                    <div class="uk-form-controls">
                        <input v-model="edited_user.last_name" class="uk-input" type="text" placeholder="Last Name">
                        <div class="uk-alert-danger" v-if="error.last_name">
                            <p v-if="error.last_name == 'required'">Required</p>
                            <p v-if="error.last_name == 'not_alpha'">Only alphabets</p>
                        </div>
                    </div>
                </div>

                <div class="uk-margin uk-width-3-5@s">
                    <label class="uk-form-label"><h4>Gender</h4></label>
                    <div class="uk-form-controls">
                        <select v-model="edited_user.gender" class="uk-select" placeholder="gender">
                            <option value="" disabled>Gender</option>
                            <option v-for="gender in form.genders" :value="gender.gender">{{ gender.gender }}</option>
                        </select>
                        <div class="uk-alert-danger" v-if="error.gender">
                            <p v-if="error.gender == 'required'">Required</p>
                            <p v-if="error.gender == 'not_alpha'">Something error</p>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"><h4>Citizen ID</h4></label>
                    <div class="uk-form-controls">
                        <input v-model="edited_user.citizen_id" class="uk-input" type="number" placeholder="Citizen Id" disabled>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"><h4>Date of Birth</h4></label>
                    <div class="uk-form-controls">
                        <datepicker v-model="date" v-bind:onclick="dob()" :inline="true" :value="edited_user.date_of_birth"></datepicker>
                        <div class="uk-alert-danger" v-if="error.date">
                            <p v-if="error.date == 'required'">Required</p>
                            <p v-if="error.date == 'not_date'">Something error</p>
                        </div>
                    </div>
                </div>

                <h2 class="uk-heading-line"><span>Contact Information</span></h2>

                <div class="uk-margin">
                    <label class="uk-form-label"><h4>E-mail</h4></label>
                    <div class="uk-form-controls">
                        <input v-model="edited_user.email" class="uk-input" type="email" placeholder="Email" id="email">
                        <div class="uk-alert-danger" v-if="error.email">
                            <p v-if="error.email == 'required'">Required</p>
                            <p v-if="error.email == 'not_email'">The input E-mail is not in E-mail pattern</p>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"><h4>Telephone Number</h4></label>
                    <div class="uk-form-controls">
                        <input v-model="edited_user.contact_number" class="uk-input" type="text"
                               placeholder="Telephone Number">
                        <div class="uk-alert-danger" v-if="error.contact_number">
                            <p v-if="error.contact_number == 'required'">Required</p>
                            <p v-if="error.contact_number == 'The contact number format is invalid.'">
                                The contact number format is invalid.</p>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"><h4>Address</h4></label>
                    <div class="uk-form-controls">
                        <input v-model="edited_user.address" class="uk-input" type="text" placeholder="Address" id="address">
                        <div class="uk-alert-danger" v-if="error.address">
                            <p v-if="error.address == 'required'">Required</p>
                        </div>
                    </div>
                </div>

                <h2 class="uk-heading-line"><span>Workplace</span></h2>

                <div class="uk-margin">
                    <label class="uk-form-label"><h4>Workplace</h4></label>
                    <div class="uk-form-controls">
                        <input v-model="edited_user.workplace" class="uk-input" type="text" placeholder="Workplace">
                        <div class="uk-alert-danger" v-if="error.workplace">
                            <p v-if="error.workplace == 'required'">Required</p>
                        </div>
                    </div>
                </div>

                <h2 class="uk-heading-line"><span>User Image (Optional)</span></h2>

                <div class="uk-margin uk-width-3-5@s">
                    <label class="uk-form-label"><h4>Image</h4></label>
                    <div class="uk-form-controls">
                        <div class="uk-margin" v-if="edited_user.image">
                            <img :src="edited_user.image" width="1800" height="1200" alt="" uk-img>
                            <!--<img :src="user.image" class="" height="" width="">-->
                        </div>
                        <input type="file" v-on:change="onImageChange">
                        <div class="uk-margin">
                            <div class="uk-alert-danger" v-if="error.image">
                                <p v-if="error.image == 'not_image'">Only allow JPG and PNG file</p>
                            </div>
                        </div>
                        <!--<input type="file" v-on:change="onImageChange" class="form-control">-->
                    </div>
                </div>

                <p uk-margin class="uk-margin-bottom uk-text-center">
                    <button @click="updateUser" type="button" class="uk-button uk-button-primary">Update</button>
                    <a class="uk-button uk-button-danger" href="../..#/index">Cancel</a>
                </p>
            </form>
        </div>
    </div>
</div>
