<div id="editprofile">
    <vk-grid class="uk-child-width-expand@s" uk-grid>
        <!-- left column -->
        <div>
            <vk-grid class="uk-padding">
                <div>
                    <!-- ใส่ width and height แล้วมันไม่ยอม fix ขนาดอะ งื้ออออ -->
                    <img src="/resources/assets/js/components/images/user.png" width="300" height="400" alt="">
                </div>
                <div class="uk-margin">
                    <div uk-form-custom>
                        <input type="file">
                        <button class="uk-button uk-button-default uk-align-center" type="button" tabindex="-1">Change
                        </button>
                    </div>
                </div>
            </vk-grid>

        </div>

        <!-- center column -->
        <div class="uk-width-1-2@s">
            <form>
                <fieldset class="uk-fieldset">
                    <br/>
                    <h2>Edit Profile</h2>
                    <div class="uk-margin">
                        <input class="uk-input" type="password" placeholder="Old Password" id="password" required>
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="password" placeholder="New Password" id="npassword">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="password" placeholder="Confirm Password" id="cpassword">
                    </div>
                    <hr class="uk-divider-icon"/>
                    <div class="uk-margin uk-width-1-3@s">
                        <select class="uk-select">
                            <option value="0">Name Title</option>
                            <option value="1">Mrs.</option>
                            <option value="2">Mr.</option>
                            <option value="3">Miss</option>
                            <option value="4">Professor</option>
                            <option value="5">Assistant Professor</option>
                            <option value="6">Associate Professor</option>
                            <option value="7">Emeritus Professor</option>
                        </select>
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Name" id="first_name">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Surname" id="last_name">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="number" placeholder="Citizen Id" id="citizen_id">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Role" id="role">
                    </div>
                    <div class="uk-margin uk-width-1-3@s">
                        <select class="uk-select">
                            <option value="0">Sex</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                    <div class="uk-margin uk-width-1-3@s">
                        <input class="uk-input" type="date" placeholder="Date of Birth" id="date_of_birth">
                    </div>
                    <hr class="uk-divider-icon"/>

                    <div class="uk-margin">
                        <input class="uk-input" type="number" placeholder="Telephone Number" width="10"
                               id="contact_number">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="email" placeholder="Email" id="email">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Address" id="address">
                    </div>
                </fieldset>
                <p uk-margin class="uk-margin-bottom uk-text-center">
                    <button class="uk-button uk-button-primary" type="submit">Save</button>
                    <a class="uk-button uk-button-danger" href="../#/profile">Cancel</a>
                </p>
            </form>


        </div>

        <!-- right column -->
        <div class="uk-align-center@s">
            <vk-grid class="uk-padding-large">

            </vk-grid>
        </div>

    </vk-grid>
</div>