<div id="register">

    <div class="alert alert-danger" v-if="error">
        <p>There was an error, unable to complete registration.</p>
    </div>

    <vk-grid class="uk-text-center uk-child-width-expand@s" uk-grid>
        <div class="uk-width-medium@s"></div>
        <form autocomplete="off">
            <br/>
            <h1><b>Register</b></h1>
            <div class="uk-margin">
                <input v-model="user.username" class="uk-input" type="text" placeholder="Username" required>
            </div>
            <div class="uk-margin">
                <input v-model="user.password" class="uk-input" type="password" placeholder="Password" id="password">
            </div>
            <div class="uk-margin">
                <input v-model="user.password_confirmation" class="uk-input" type="password" placeholder="Confirm Password"
                       id="cpassword">
            </div>
            <div class="uk-margin">
                <input v-model="user.email" class="uk-input" type="email" placeholder="Email" id="email">
            </div>
            <div class="uk-margin uk-width-1-3@s">
                <select v-model="user.role" class="uk-select">
                    <option value="" disabled>Role</option>
                    <option v-for="role in form.roles" :value="role.id">{{ role.role }}</option>
                </select>
            </div>

            <hr class="uk-divider-icon"/>
            <h4>Personal Information</h4>
            <div class="uk-margin">
                <input v-model="user.citizen_id" class="uk-input" type="number" placeholder="Citizen Id">
            </div>
            <div class="uk-margin uk-width-1-3@s">
                <select v-model="user.name_title" class="uk-select">
                    <option value="" disabled>Name Title</option>
                    <option v-for="title in form.name_titles" :value="title.id">{{ title.name_title }}</option>
                </select>
            </div>
            <div class="uk-margin">
                <input v-model="user.first_name" class="uk-input" type="text" placeholder="First Name">
            </div>
            <div class="uk-margin">
                <input v-model="user.last_name" class="uk-input" type="text" placeholder="Last Name">
            </div>

            <div class="uk-margin uk-width-1-3@s">
                <select v-model="user.gender" class="uk-select" placeholder="gender">
                    <option value="" disabled>Gender</option>
                    <option v-for="gender in form.genders" :value="gender.id">{{ gender.gender }}</option>
                </select>
            </div>
            <div class="uk-margin uk-width-1-3@s">
                <datepicker v-model="date" v-bind:onclick="dob()" :inline="true"></datepicker>
            </div>

            <h4>Contact Information</h4>
            <hr class="uk-divider-icon"/>
            <div class="uk-margin">
                <input v-model="user.contact_number" class="uk-input" type="text" placeholder="Telephone Number">
            </div>

            <div class="uk-margin">
                <input  v-model="user.address" class="uk-input" type="text" placeholder="Address" id="address">
            </div>

            <h4>Workplace</h4>
            <hr class="uk-divider-icon"/>
            <div class="uk-margin">
                <input v-model="user.workplace" class="uk-input" type="text" placeholder="Workplace">
            </div>
            <p uk-margin class="uk-margin-bottom uk-text-center">
                <button class="uk-button uk-button-primary" v-on:click="addUser">Add</button>
                <a class="uk-button uk-button-danger" href="../..#/index">Cancel</a>
            </p>
        </form>
        <div class="uk-width-medium@s"></div>
    </vk-grid>
</div>
