<div id="consult-list">
    <header>
            <div class="uk-container">
                    <br/>
                    <ul class="uk-breadcrumb">
                        <li><a href="../../..#/">Home</a></li>
                        <!-- Current Page -->
                        <li><span>Consult List</span></li>
                    </ul>
            </div>
        <h1 class="uk-text-center">E-CONSULTS LIST</h1>
    </header>
    <section class="uk-container">
        <section class="uk-container">
            <vk-grid class="uk-child-width-expand@s uk-text-center">
                <div class="uk-width-auto@s"></div>
                <div class="uk-margin">
                    <form class="uk-search uk-search-default uk-width-1-2@s">
                        <input v-model="keyword" class="uk-search-input" type="search" placeholder="Search...">
                    </form>
                    <button class="uk-button uk-button-primary uk-width-auto@l uk-width-1-5@m" v-on:click="searchConsults">
                        <vk-icon icon="search"></vk-icon>
                    </button>
                </div>
                <div class="uk-width-auto@s"></div>
            </vk-grid>
        </section>
        <vk-grid class="uk-child-width-expand@s">
            <div>
                <vk-tabs-vertical align="left">
                    <vk-tabs-item title="Done">
                        <div class="uk-overflow-auto">
                            <table class="uk-table uk-table-middle uk-table-hover uk-table-divider">
                                <thead>
                                <tr>
                                    <th class="uk-width-small">Consult Id</th>
                                    <th>Patient</th>
                                    <th>Creator</th>
                                    <th>Date of Create</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="consult in consultDone">
                                    <td>{{consult.consult_id}}</td>
                                    <td>{{consult.patient_firstname}} {{consult.patient_lastname}}</td>
                                    <td>{{consult.created_by.first_name}} {{consult.created_by.last_name}}</td>
                                    <td>{{consult.created_at}}</td>
                                    <td><span class="uk-label uk-label-success">Done</span></td>
                                    <td>
                                        <button v-on:click="viewConsult(consult.consult_id)"
                                                class="uk-button uk-button-default" type="button">View
                                        </button>
                                    </td>
                                    <td>
                                        <button v-on:click="messageConsult(consult.consult_id)"
                                                class="uk-button uk-button-primary" type="button">Message
                                        </button>
                                    </td>
                                    <td>
                                        <button v-on:click="printConsult(consult.consult_id)"
                                                class="uk-button uk-button-primary" type="button">Print
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </vk-tabs-item>
                </vk-tabs-vertical>
            </div>
        </vk-grid>
    </section>
</div>