<div id=forgetpassword>
        <div align="center">
                <div class="section" style="margin-top:10%;"></div>
              <h1>Forget Password</h1>
                <form autocomplete="off" @submit.prevent="login" v-if="!success" method="post">
            
                  <div class="uk-margin">
                   <div class="uk-inline">
                       <span class="uk-form-icon"><vk-icon icon="mail"></vk-icon></span>
                       <input id="email" class="uk-input form-control" type="email" placeholder="example@mail.com" required>
                   </div>
                 </div>
                  <button type="submit" class="uk-button uk-button-default uk-button-small uk-button-primary">Submit</button><br/>
            
                </form>
              </div>
</div>