<div id="consult-view">
        <div class="uk-container">
            <vk-grid class="uk-grid-small">
            <div class="uk-width-1-5@m">
                <br/>
                <p><h1 class="uk-heading-primary sticky">Consult</h1></p>
                <p><h2 class="sticky">ID 601235554</h2></p>
            </div>

            <div class="uk-width-expand@m">
            <form class="uk-margin-large">
            <br/>
            <div id="personalinfo">
                    <div class="uk-text-left">
                        <h2 class="uk-heading-line"><span>Patient's Information</span></h2>
                    </div>
                <div class="uk-form-horizontal">
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Patient's name</label>
                            <div class="uk-form-controls">
                                <p>Sammy Read</p>
                            </div>
                        </div>
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of Birth</label>
                                <div class="uk-form-controls">
                                    <p>13/12/1995</p>
                                </div>
                        </div>
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Gender</label>               
                            <div class="uk-form-controls">
                                    <p>Male</p>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Address</label>
                            <div class="uk-form-controls">
                                <p>
                                    123/6 moo3 Banndu Mueang Lampang 57100
                                </p>
                            </div>
                        </div>
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Primary Doctor</label>
                                <div class="uk-form-controls">
                                    <p>Mr. John Ruper</p>
                                </div>
                        </div>
                </div>
            </div>
                <!-- Medical Information -->
                <br/>
                <div id="medicalinfo">
                    <div class="uk-text-left">
                        <h2 class="uk-heading-line"><span>Physical examination</span></h2>
                    </div>
                <div class="uk-form-horizontal">
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Health Condition</label>
                                <div class="uk-form-controls">
                                   <p>High Blood Pressure</p>
                                </div>
                        </div>
                    <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">HN</label>
                            <div class="uk-form-controls">
                                <p>61223</p>
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Dx</label>
                            <div class="uk-form-controls">
                               <p>DM</p>
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">BW</label>
                            <div class="uk-form-controls">
                               <p>65 kg</p>
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">BMI</label>
                            <div class="uk-form-controls unit">
                                <p>26.6</p>
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">T</label>
                            <div class="uk-form-controls unit">
                                <p>37 °C</p>
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">FBS</label>
                            <div class="uk-form-controls unit">
                                <p>100 mg%</p>
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Cr</label>
                            <div class="uk-form-controls unit">
                                <p>0.43 Cr</p>
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Clearance</label>
                            <div class="uk-form-controls">
                                <p>122.1</p>
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Stage</label>
                            <div class="uk-form-controls">
                                <p>1</p>
                            </div>
                    </div>
                </div>
                </div>
                <br/>
                <!-- Record -->
                <div id="recordinfo">
                    <div class="uk-text-left">
                        <h2 class="uk-heading-line"><span>Record</span></h2>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label uk-text-lead" for="form-horizontal-text">Hx : OLD RECORD 1</label>
                    </div>
                    <div class="uk-form-horizontal unit">
                            <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of Diagnosis</label>
                                    <div class="uk-form-controls ">
                                        <p>14/04/2018</p>
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">FBS</label>
                                    <div class="uk-form-controls ">
                                        <p>100 mg%</p>
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP1</label>
                                    <div class="uk-form-controls">
                                        <p>200/90 mmHg</p>
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP2</label>
                                    <div class="uk-form-controls">
                                        <p>110/90 mmHg</p>
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">P</label>
                                    <div class="uk-form-controls">
                                        <p>120 /min</p>
                                    </div>
                            </div>
                    </div>

                    <div class="uk-margin">
                            <label class="uk-form-label uk-text-lead" for="form-horizontal-text">Hx : OLD RECORD 2</label>
                    </div>
                    <div class="uk-form-horizontal unit">
                            <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Date of Diagnosis</label>
                                    <div class="uk-form-controls ">
                                        <p>12/06/2018</p>
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">FBS</label>
                                    <div class="uk-form-controls ">
                                        <p>100 mg%</p>
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP1</label>
                                    <div class="uk-form-controls">
                                        <p>115/89 mmHg</p>
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">BP2</label>
                                    <div class="uk-form-controls">
                                        <p>110/90 mmHg</p>
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">P</label>
                                    <div class="uk-form-controls">
                                        <p>80 /min</p>
                                    </div>
                            </div>
                    </div>
                </div>
    
                <!-- Consult Request -->
                <br/>
                <div id="consultinfo">
                    <div class="uk-text-left">
                        <h2 class="uk-heading-line"><span>Consult Request</span></h2>
                    </div>
                    <div class="uk-form-horizontal">
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Chief Complain</label>
                                <div class="uk-form-controls">
                                    <p>FBS >= 130 mg% 2 visit</p>
                                </div>
                        </div>
                        <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Assessment and plan</label>
                                <div class="uk-form-controls">
                                    <p>MFM 1x2 0pc, Slmvas 1209 ½ x ns</p>
                                </div>
                        </div>
                        <div class="uk-margin">
                            <!-- Not Require -->
                            <label class="uk-form-label uk-text-uppercase" for="form-horizontal-text">Progress notes</label>
                            <div class="uk-form-controls">
                                <p>-</p>
                            </div>
                    </div>
                </div>
                </div>
            </form>
            </div>
            <div class="uk-width-1-5@m">
                
            </div>
        </vk-grid>
        <br/><br/>
        <div class="uk-margin-bottom uk-text-center">
                <button type="button" class="uk-button uk-button-secondary uk-width-small">Edit</button>
                <button type="button" class="uk-button uk-button-primary uk-width-small">Send</button>
                <a class="uk-button uk-button-danger uk-width-small" href="../..#/">Cancel</a>
        </div>
        <br/>
        </div>
</div>