<div id="profile">
  <vk-grid class="uk-child-width-expand@s" uk-grid>
    <!-- left column -->
    <div>
      <vk-grid style="margin-left: 10%;margin-top: 10%">
        <div>
          <!-- ใส่ width and height แล้วมันไม่ยอม fix ขนาดอะ งื้ออออ -->
          <img src="../images/user.png" width="300" height="400" alt="">
        </div>
        <a class="uk-align-center" href=""><h5><u>Change Password</u></h5></a>
      </vk-grid>
      
    </div>

    <!-- center column -->
    <div class="uk-width-1-2 uk-align-left@s">
      <br/> <br/>
        <div>
            <ul style="list-style-type: none;">
                <li><h1>Miss Surawan Wanlai</h1></li>
                <h4>
                  <li>1504100019822</li>
                  <li>Nurse</li>
                  <li>Gender Female</li>
                  <li>Date of Birth June 5, 1992</li>
                
                <hr class="uk-description-list-divider">
                  <li><h4>WORK</h4></li>
                  <li>Minikokha Hospital</li>
                  <li>234 Moo99 Bann Kokha 
                    Kokha District Lampang
                    69999</li>
            </h4>
            <hr class="uk-description-list-divider">
            </ul>
        </div>
        <vk-grid>
            <div>
                <ul style="list-style-type: none;">
                    <li><h4>CONTACT INFORMATION</h4></li>
                    <h4><li>Telephone</li>
                      <li>Email</li>
                      <li>Address</li></h4>
                </ul>
            </div>
            <div>
                <ul style="list-style-type: none;">
                    <li><h4>&nbsp;</h4></li>
                    <h4><li>0853371111</li>
                      <li>surawan_n@gmail.com</li>
                      <li>234 Moo99 Suthep</li>
                    <li>Mueang District Chiangmai 50200</li></h4>
                </ul>
            </div>
        </vk-grid>
    </div>

    <!-- right column -->
    <div class="uk-align-center@s">
        <vk-grid class="uk-padding-large">
          <div>
            <ul style="list-style-type: none;">
              <h5><li style="color:limegreen">STATUS : Present</li></h5>
            </ul>
          </div>
        </vk-grid>
    </div>

  </vk-grid>
</div>
